body {
    background-color: rgba(0, 0, 0, 0.1);
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    flex-direction: column;
}

.panel {
    width: 95%;
    height: 47%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topPanel {
    background-color: transparent;
}

.bottomPanel {
    background-color: lightyellow;
    border: 1px solid #fff;
}

.subpanel {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
}

.subpanel1 {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.subpanel2 {
    background-color: lightsteelblue;
    margin-left: 5px;
}

.contentPanel {
    width: 98%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.contentPanel1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #ffffff;
    height: auto;
}

.contentPanel1 button {
    /* add some thing later*/
}

.contentPanel1 input[type="text"] {
    flex-grow: 1;
    margin: 0 10px;
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 12px;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 4px;
    width: auto;
    padding: 10px;
    white-space: nowrap;
}

input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    font-size: 12px;
}

.contentPanel2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #fff;
}